:root {
  --golden-ratio: 1.618;
  --golden-ratio-reciprocal: 0.618;

  --size-1: 1rem;
  --size-2: calc(var(--size-1) * 2);
  --size-3: calc(var(--size-1) * 3);
  --size-5: calc(var(--size-1) * 5);
  --size-8: calc(var(--size-1) * 8);
  --size-13: calc(var(--size-1) * 13);
  --size-21: calc(var(--size-1) * 21);

  --size-r-1: calc(var(--size-1) * var(--golden-ratio-reciprocal));

  /* comment why 0.1 or or less, text readable */
  --level-0-lightness: 0.1;
  --level-1-lightness: calc(var(--level-0-lightness) * 2);
  --level-2-lightness: calc(var(--level-0-lightness) * 3);

  --level-0-light-theme-lightness: calc(1 - var(--level-0-lightness));
  --level-1-light-theme-lightness: calc(1 - var(--level-1-lightness));
  --level-2-light-theme-lightness: calc(1 - var(--level-2-lightness));

  --level-0-dark-theme-lightness: calc(0 + var(--level-0-lightness));
  --level-1-dark-theme-lightness: calc(0 + var(--level-1-lightness));
  --level-2-dark-theme-lightness: calc(0 + var(--level-2-lightness));

  --light-theme-level-0: oklch(var(--level-0-light-theme-lightness) 0 0);
  --light-theme-level-1: oklch(var(--level-1-light-theme-lightness) 0 0);
  --light-theme-level-2: oklch(var(--level-2-light-theme-lightness) 0 0);

  --dark-theme-level-0: oklch(var(--level-0-dark-theme-lightness) 0 0);
  --dark-theme-level-1: oklch(var(--level-1-dark-theme-lightness) 0 0);
  --dark-theme-level-2: oklch(var(--level-2-dark-theme-lightness) 0 0);

  --theme-level-0-bg: light-dark(var(--light-theme-level-0), var(--dark-theme-level-0));
  --theme-level-1-bg: light-dark(var(--light-theme-level-1), var(--dark-theme-level-1));
  --theme-level-2-bg: light-dark(var(--light-theme-level-2), var(--dark-theme-level-2));

  --theme-level-0-fg: light-dark(var(--dark-theme-level-0), var(--light-theme-level-0));
  --theme-level-0-fg-border: 1px solid var(--theme-level-0-fg);

  --hue-green: 140;
  --hue-red: 30;
  --hue-blue: 240;
  --hue-amber: 70;

  --toast-item-chroma: 0.2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: var(--theme-level-0-bg);
  color: var(--theme-level-0-fg);
}

/* .segmented-control {
  background-color: light-dark(
    oklch(calc(1 - var(--level-1-lightness)) 0 0), oklch(calc(0 + var(--level-1-lightness)) 0 0)
  );
  border: var(--theme-level-0-fg-border);
} */

/* buttons */
button {
  cursor: pointer;
  padding: var(--size-r-1) var(--size-1);
  border: var(--theme-level-0-fg-border);
  border-radius: var(--size-r-1);
}

button:disabled {
  cursor: not-allowed;
}

.button--primary {
  background-color: var(--theme-level-2-bg);
}

.button--secondary {
  background-color: var(--theme-level-1-bg);
}

.button--tertiary {
  background-color: var(--theme-level-0-bg);
}

/* icon-buttons */
.icon-button__svg {
  width: var(--size-1);
  height: var(--size-1);
}

/* table */
table {
  margin: var(--size-1); /* Padding is not applied to <table>; use margin instead */
  border-collapse: collapse;
}

td {
  padding: var(--size-r-1);
}

td > img {
  max-height: var(--size-5);
}

tbody + tbody {
  border-top: var(--theme-level-0-fg-border);
}

.file-result-table__selected-row {
  background-color: var(--theme-level-1-bg);
}

/* - */
.stepper {
  padding: var(--size-1);
}

.stepper > ol {
  display: flex;
  list-style: none;
}

.stepper > ol > li + li {
  padding-left: var(--size-1);
}

.file-result-inspector {
  padding: var(--size-1);
}

.file-result-inspector > div {
  display: flex;
}

.file-result-inspector > div > div {
  padding: var(--size-1);
  width: var(--size-21);
  height: var(--size-21);
}

.file-result-inspector > div > div > div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.file-result-inspector > div > div > div + div {
  padding-top: var(--size-1);
}

/* toast-item */
.toast-item--success {
  background-color: light-dark(
    oklch(var(--level-2-light-theme-lightness) var(--toast-chroma) var(--hue-green)),
    oklch(var(--level-2-dark-theme-lightness) var(--toast-chroma) var(--hue-green))
  );
}

.toast-item--error {
  background-color: light-dark(
    oklch(var(--level-2-light-theme-lightness) var(--toast-chroma) var(--hue-red)),
    oklch(var(--level-2-dark-theme-lightness) var(--toast-chroma) var(--hue-red))
  );
}

.toast-item--info {
  background-color: light-dark(
    oklch(var(--level-2-light-theme-lightness) var(--toast-chroma) var(--hue-blue)),
    oklch(var(--level-2-dark-theme-lightness) var(--toast-chroma) var(--hue-blue))
  );
}

.toast-item--warning {
  background-color: light-dark(
    oklch(var(--level-2-light-theme-lightness) var(--toast-chroma) var(--hue-amber)),
    oklch(var(--level-2-dark-theme-lightness) var(--toast-chroma) var(--hue-amber))
  );
}

/* utils */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip-path: inset(100%);
  white-space: nowrap;
}
